<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>休憩</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>休憩をとりましょう🍵</h1>
    <p>現在、 {{ session['block_index'] }} / {{ session['total_blocks'] }} ブロックが終了しました。</p>
    <p>次の周波数条件は {{ frequency_labels.get(session['current_block_freq'], '不明')}} です。</p>
    <p>準備ができたら「次のブロックへ」ボタンを押して本番の準備画面へ進んでください🔥</p>
    <button onclick="goToNextTrial()">次のブロックへ</button>

    <script>
        async function goToNextTrial() {
            window.location.href = "/experiment";  //experiment に遷移
        }
    </script>
</body>
</html>

