<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>実験結果</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>あなたの結果</h1>
    
    <h2>心理測定関数📈</h2>
    <p>
        実験データから予想された難易度(横軸)に対する正解確率(縦軸)です!!<br>
        75%検出閾(点線)が小さいほどリズムの変化が少ない音でも正解できることを示しています👍
    </p>
    {% for result in results_list %}
    <div class="image-container">
        <h2>{{ result.frequency_label }}</h2>
        <p>75%検出閾 (Threshold): {{ result.threshold }}</p>
        <img src="{{ url_for('static', filename=result.fig_path) }}" alt="{{ result.frequency_label }} MLE Curve" class="responsive-image">
    </div>
    {% endfor %}
    <p></p>
    <!-- トップページに戻るボタン -->
    <button onclick="window.location.href='/'">トップページに戻る</button>
</body>
</html>